##定义初始变量
$!{mybatisCodehelper.vm}
##设置回调
#set($serviceSavePath = $tool.append(${ServiceSrcFolder},"/",${ServiceImplPackagePath.replace(".","/")}))

$!callback.setSavePath($serviceSavePath)
$!callback.setFileName($tool.append($commandServiceImplClassName, ".java"))

package $!{ServiceImplPackagePath};

import $!{ServicePackagePath}.$!{commandServiceClassName};
import $!{RepositoryPackagePath}.$!{repositoryClassName};
import lombok.extern.slf4j.Slf4j;
import org.springframework.stereotype.Service;

import javax.annotation.Resource;

/**
 * $!{tableInfo.comment}($!{tableInfo.name})命令服务接口实现
 *
 * @author $!author
 * @since $!time.currTime()
 */
@Service
@Slf4j
public class $!{commandServiceImplClassName} implements $!{commandServiceClassName} {

    @Resource
    private $!{repositoryClassName} $!tool.firstLowerCase($repositoryClassName);

}