##定义初始变量
$!{mybatisCodehelper.vm}
##设置回调
#set($apiImplSavePath = $tool.append(${InterfaceSrcFolder},"/",${ApiImplPackagePath.replace(".","/")}))

$!callback.setSavePath($apiImplSavePath)
$!callback.setFileName($tool.append($queryApiImplClassName, ".java"))

package $!{ApiImplPackagePath};

import $!{QueryAPIPackagePath}.$!{queryApiClassName};
import $!{ServicePackagePath}.$!{queryServiceClassName};
import lombok.extern.slf4j.Slf4j;
import org.apache.dubbo.config.annotation.DubboService;
import javax.annotation.Resource;

/**
 * $!{tableInfo.comment}($!{tableInfo.name})RPC接口实现
 *
 * @author $!author
 * @since $!time.currTime()
 */
@DubboService
@Slf4j
public class $!{queryApiImplClassName} implements $!{queryApiClassName} {

    @Resource
    private ${queryServiceClassName} $!tool.firstLowerCase($queryServiceClassName);

}